*{
    margin: 0;
    padding: 0;
 }
 body{
     background-color: rgb(243, 243, 220);
     text-align: center;
 }
 h1{
     font-weight: 100;
     text-align: center;
     font-family: -apple-system, BlinkMacSystemFont;
     font-weight: lighter;
     font-style: oblique;
     font-size: 45px;
 }
 table.tt
 {
margin-left: 25%; 
margin-top: 20px;    
text-align: center;
 }
 div.ts
 {
     margin-top: 10px;
 }
 button[type="submit"]
 {
    background-color: #c6c9c8;
    width: 143px;
    border-radius: 90%;
    padding: 15px;
    border: none;
    margin-left: 50px;
    cursor: pointer;
    height: 60px;
  }
  a
    {
      text-align: center;
      font-family: cursive;
      font-size: 20px;
      color: black;
      font-style: normal;
    }
	  .center {
  margin-left: auto;
  margin-right: auto;
}